body {
    color:  #fff/**/;
}

body::-webkit-scrollbar,
pre::-webkit-scrollbar,
code::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.scroll-x::-webkit-scrollbar {
	width: 0.4em;
	height: 0.3em;
}

body::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
.scroll-x::-webkit-scrollbar-thumb {
	background-color: #5c5d5e;
	border-radius: 0.25em;
}

.capa{
    margin-top: 40px;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 45px;
    background-color: white;
    box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.back-to-top i {
    color: #212529;
    /*-webkit-background-clip: text;*/
    font-size: 20px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.article-line {
    border-top: 1px solid rgb(255, 140, 0)/**/;
    color:  #FF8C00/**/;
}

.article-top-line {
    margin-top: 1rem;
}

.article-bottom-line {
    margin-top: 1rem;
}

.article-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    text-transform: none;
    font-weight: 700;
}

.article-subtitle {
    font-weight: 700;
    font-size: 1.2rem;
}

.article-author {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem !important;
    text-align: right;
    font-weight: 700;
}

.article-content {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: justify;
}

.article-references-title {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: none;
    font-weight: 700;
}

.article-references-content {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: justify;
}

.block-title {
    font-size: 20px;
    font-weight: 500;
    color:  #5c5d5e/**/;
    margin-bottom: 20px;
    position: relative;
}
  
footer .footer-Content {
    background-image: -moz-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    background-image: -ms-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    padding: 60px 0 0px;
    color: #546E7A;
}

footer .footer-Content h2 {
    color:  #5c5d5e/**/;
    font-size: 30px;
}

.log-inicio{
    max-width: 15%;
}

.textwidget {
    line-height: 24px;
    margin-bottom: 10px;
}

.textwidget p {
    font-size: 14px;
    color:  #5c5d5e/**/;
}

footer .menu {
    padding-left: 0;
}

footer .menu li {
    padding-bottom: 12px;
}

footer .menu li a {
    color:  #5c5d5e/**/;
    font-size: 14px;
}

footer .menu li a:hover {
    color:  #5c5d5e/**/;
}

.footer-social {
    margin-top: 4px;
}

.footer-social li {
    display: inline-block;
    margin-right: 15px;
}

.footer-social li a {
    color:  #5c5d5e/**/;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.footer-social li .facebook:hover {
    color: #3b5998;
}

.footer-social li .twitter:hover {
    color: #55acee;
}

.footer-social li .linkedin:hover {
    color: #007bb5;
}

.footer-social li .google-plus:hover {
    color: #dd4b39;
}
